{% extends 'base.html' %}

{% block css %}
<style>
  tr, td {
    /* border: 1px solid black; */
    padding: 6px;
  }

  .response {
    padding: 6px 18px;
  }

  .form-answer {
    height: 100px;
  }

  .prompt {
    font-style: italic;
  }

  .date {
    font-weight: bold;
  }

  .grey-bg {
    background: #e9ecef;
  }

  .btn {
    background-color: white
  }
  .btn:hover {
    background-color: black;
    color: white;
  }
</style>
{% endblock %}

{% block date %}{{ today_date_lg }}{% endblock %}

{% block form %}
  <form method='POST' action="/review">
    {% csrf_token %}
    {{ form.prompt }}
    <div height="125 px"><br></div>
    {{ form.response }}
    <div height="125 px"><br></div>
    <input type="submit" value="Submit" class='btn' style='border: 1px black solid'>
  </form>
{% endblock %}

{%block placeholder_prompt %}Q: {{ prompt }}{% endblock %}

{% block table %}

          <table id='response_table'>
            {% for response in responses %}
              {% if forloop.counter|divisibleby:2 %}<tr>{% else %}<tr class='grey-bg'>{% endif %}
                <td width='125' class='date'>{{ response.date }}</td>
                <td class='prompt' contenteditable='true'>{{ response.prompt }}</td>
              </tr>
              {% if forloop.counter|divisibleby:2 %}<tr>{% else %}<tr class='grey-bg'>{% endif %}
                <td class='response' colspan=2 contenteditable='true'>{{ response.response }}</td>
              </tr>
            {% endfor %}
          </table>

{% endblock %}
