{% extends 'base.html' %}

{% block css %}
<style>
  tr, td {
    /* border: 1px solid black; */
    padding: 6px;
  }

  .response {
    padding: 6px 18px;
  }

  .prompt {
    font-style: italic;
  }

  .date {
    font-weight: bold;
  }

  .grey-bg {
    background: #e9ecef;
  }
</style>
{% endblock %}

<!-- {% block header_text %}Write a prompt{% endblock %} -->

{% block date %}{{ today_date_lg }}{% endblock %}

{% block form_action %}/review{% endblock %}

{%block placeholder_prompt %}Q: {{ prompt }}{% endblock %}

{% block table %}

{% endblock %}
