{% extends 'base.html' %}

{% block css %}{% endblock %}

{% block date %}{{ today_date_lg }}{% endblock %}

{% block form %}
<h2>Entries</h2>
{% endblock %}

{% block table %}

          <table id='response_table'>
            {% for response in responses %}
              {% if forloop.counter|divisibleby:2 %}<tr>{% else %}<tr class='grey-bg'>{% endif %}
                <td width='125' class='date'>{{ response.date }}</td>
                <td class='prompt' contenteditable='true'>{{ response.prompt }}</td>
                <td width='100'>
                  <button type='submit' value='Edit'>Edit</button>
                  <form action="/{{ response.id }}/delete" method="DELETE">
                    <button type='submit' id='Delete'>Del</button>
                  </form>
                </td>
              </tr>
              {% if forloop.counter|divisibleby:2 %}<tr>{% else %}<tr class='grey-bg'>{% endif %}
                <td class='response' colspan=3 contenteditable='true'>{{ response.response }}</td>
              </tr>
            {% endfor %}
          </table>

{% endblock %}
