{% extends 'base.html' %}

{% block css %}
<style>
  tr, td {
    /* border: 1px solid black; */
    padding: 6px;
  }

  .response {
    padding: 6px 18px;
  }

  .prompt {
    font-style: italic;
  }

  .date {
    font-weight: bold;
  }

  .grey-bg {
    background: #e9ecef;
  }
</style>
{% endblock %}

{% block date %}{{ today_date_lg }}{% endblock %}

{% block form %}
<h2>Entries</h2>
{% endblock %}

{% block table %}

          <table id='response_table'>
            {% for response in responses %}
              {% if forloop.counter|divisibleby:2 %}<tr>{% else %}<tr class='grey-bg'>{% endif %}
                <td width='125' class='date'>{{ response.date }}</td>
                <td class='prompt' contenteditable='true'>{{ response.prompt }}</td>
              </tr>
              {% if forloop.counter|divisibleby:2 %}<tr>{% else %}<tr class='grey-bg'>{% endif %}
                <td class='response' colspan=2 contenteditable='true'>{{ response.response }}</td>
              </tr>
            {% endfor %}
          </table>

{% endblock %}
